.App {
  width: 98vw;
  background-color: white;
}

.About {
  margin-left: 3vw;
  margin-right: 3vw;
}

.AboutTitle {
  margin-top: 3vh;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  margin-bottom: 3vh;
}

.AboutPhoto {
  border-radius: 50%;
  width: 24vh;
  height: 23vh;
  margin-left: 1vw;
  margin-bottom: 3vh;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.AboutDescription {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  margin-bottom: 3vh;
}

.AboutCard {
  width: 30vh;
  height: 30vh;
  text-align: center;
  background: white;
  border-radius: 10%;
  background-size: cover;
  background-position: center center;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
  border: 15px solid white;
  margin-bottom: 13vh;
}

.AboutCardImage {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.AboutCard:hover,
.ExternalSiteCard:hover,
.HomeCard:hover {
  transform: scale(1.1);
}

.AboutCardText,
.ExternalSiteCardText {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  padding-top: 3vh;
}

.WorkExperience,
.Projects {
  margin-left: 3vw;
  margin-right: 3vw;
  margin-top: 3vh;
}

.WorkExperienceTitle,
.ProjectsTitle {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  margin-bottom: 4vh;
}

.WorkExperienceTimeline {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 30px;
  width: 90vw;
}

.WorkExperienceCard,
.ProjectCard {
  min-height: 100% !important;
  height: auto;
}

.ProjectCardImageWrapper,
.WorkExperienceImageWrapper {
  display: flex;
  align-items: center;
}

@media (max-width: 700px) {
  .ProjectCardImageWrapper,
  .WorkExperienceImageWrapper {
    display: none;
  }
}

.WorkExperienceImage {
  position: relative;
  height: 21vh;
  object-fit: cover;
  z-index: 2;
  border-radius: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.ProjectCardImage {
  position: relative;
  height: 21vh;
  object-fit: cover;
  z-index: 2;
  border-radius: 3%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

@media (max-width: 700px) {
  .WorkExperienceImage,
  .ProjectCardImage {
    display: none !important;
  }
}

.WorkExperienceTextContainer,
.ProjectCardContainer {
  background: white;
  border-radius: 3%/12%;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  border: 2.5vh solid white;
  z-index: 1;
  transition: 0.2s;
}

.WorkExperienceTextContainer:hover,
.ProjectCardContainer:hover {
  box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.3);
  -webkit-transform: translatex(5px);
  -webkit-transform: translatey(5px);
  transform: translatex(5px);
  transform: translatey(5px);
}

@media (max-width: 700px) {
  .WorkExperienceTextContainer,
  .ProjectCardContainer {
    border-radius: 5%;
  }
}

@media (min-width: 1500px) {
  .WorkExperienceTextContainer,
  .ProjectCardContainer {
    border-radius: 2%/13%;
  }
}

.WorkExperienceTextTitle,
.ProjectCardTitle {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
}

.WorkExperienceTextPosition,
.ProjectCardTechnologies {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
}

.WorkExperienceCardText,
.ProjectCardText {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.ExternalSiteCard {
  position: fixed;
  bottom: 3vh;
  right: 3vw;
  width: 15vh;
  height: 15vh;
  text-align: center;
  background: white;
  border-radius: 10%;
  background-size: cover;
  background-position: center center;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
  border: 15px solid white;
  z-index: 3;
}

.ExternalSiteCardImage {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.HomeCard {
  position: fixed;
  bottom: 3vh;
  left: 3vw;
  width: 15vh;
  height: 15vh;
  text-align: center;
  background: white;
  border-radius: 10%;
  background-size: cover;
  background-position: center center;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
  border: 15px solid white;
  z-index: 3;
}

.HomeCardImage {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
